<div class="sidenav">
    <ul>
      <li>
        <a href="#">
          <h1 class = "links">HOME</h1>
        </a>
      </li>
      <br>
  
      <li>
        <a href="#">
        <h1 class = "links">CONNECT</h1>
        </a>
      </li>
      <br>

      <li>
        <a href="#">
        <h1 class = "links">DISCOVER</h1>
        </a>
      </li>
      <br>
      <li>
        <a href="#">
        <h1 class = "links">PROFILE</h1>
        </a>
      </li>

      <br>
      
      <li>
        <a href="#">
        <h1 class = "links">STATISTICS</h1>
        </a>
      </li>
    </ul>

</div>
