<section class="section main">
  <div class="container">
    <div class="columns">

    <% if user_signed_in? %>
    <%= render 'aside-section'%>
    <% end %>
    <%= render 'feed' %>
    <%= render 'who_to_follow' %>
    

    </div>
  </div>
</section>