<div class="container">
        <div>
            <div>
                <%= render "layouts/aside-section" %>        
            </div>
            <div class="column main-content"> 
                <%= render "layouts/navbar" %>   
            </div>
        </div>
</div>
